.headline {
    color: #d7f5f0;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: 5%;
  }


body {background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.greet {
    font-size: 2.5em;
}

.image {
    text-align: center;
}

.tablepos {
    margin-left: 75px !important;
    color: #d7f5f0 !important;
    font-family: 'Pacifico', cursive !important;
}

blockquote {
    font-size: 1.2em;
}

.aboutext {
    margin-top: 2%;
}
.aboutext p {
    font-family:Arial, Helvetica, sans-serif;
    color: #d7f5f0;
}

.quotes {

    border-radius: 1rem;
    padding: 1rem;
    border-width: 4px;
    border-color: #d7f5f0;
    border-style: dotted;
    margin: 0 15%;
}


.container.main {
    margin-top: 2.0em;
}

.attached.segment {
    background-color: rgb(203, 224, 224);
}

.merchandiseheadline, .gif {
    margin-top: 100px;
}

.merc {

    font-family: 'Pacifico', cursive;
    font-size: larger;
}